:root {
  --header-color:#404040;
  --bg-color:#efefef;
  --banner-color:#458ed3;
  --light-color:#fff;
  --medium-color:#f3f3f3;
  --dark-color:#333;
  --footer-dark:#252525;
  --light-dark:#777;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Crimson Text', serif;
  line-height: 1.5;
  font-size: 1rem;
  background: var(--bg-color);
}
img {
  width: 100%;
}
section {
  margin-top : 5rem
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}
.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  opacity: 0.8;
}
.btn-primary {
  background: var(--banner-color);
  color: var(--light-color);
}
.btn-secondary {
  background: var(--light-color);
  color: var(--dark-color);
}
.mg-top {
  margin-top:1rem
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header {
  background: var(--header-color);
}
.header-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;
  grid-gap: 1rem;
  height: 100%;
  color: var(--light-dark);
  text-transform: uppercase;
  padding: 1rem
}
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}
.italic {
  font-style: italic;
  font-weight: 400;
  color: var(--medium-color)
}
.banner {
  background: var(--banner-color);
  color: var(--medium-color);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0.5rem 1rem ;
  text-transform: uppercase;
  position: relative;
}
.banner a {
  justify-self: flex-end;
}
.banner::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-top-color: var(--banner-color);
  border-left: 0;
}
.solutions-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1rem;
}
.card {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.card i {
  color: var(--light-color);
  background: var(--header-color);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transition: all .5s ease-in-out;
}
.card:hover,.development, .headings .design{
  background: var(--light-color);
}
.card:hover a {
  visibility: hidden;
}
.card:hover i {
  background: var(--banner-color);
}
.card:hover:after,.articles::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-top-color: var(--light-color);
  border-left: 0;
}
.title div,.test div,.dev div {
  width: 100%;
  height: 3px;
  background: url(../images/Border-BG.jpg) no-repeat center center/cover;
}
.title p,.test p {
  justify-self: center;
}
.works-container,.title,.test,.dev {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  align-items: center;
}
.articles{
  background: var(--light-color);
  position: relative;
}
.articles h4,.development > h4 {
  padding: 1rem;
}
.articles p, .development p {
  padding: 0 1rem 1rem;
}
.testimonials-container,.test-dev {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
}
.headings {
  display: flex;
  justify-content: space-between;
  background: var(--bg-color);
}
.headings h4 {
  padding: 0.5rem;
}
.development div:last-child {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 3rem 0;
  grid-gap: 1rem;
}
#footer {
  background: var(--header-color);
  color:var(--light-dark);
}
#footer h4 {
  text-transform: uppercase;
  color: var(--medium-color);
}
.footer-grid .info span {
  color: var(--medium-color);
  font-weight: bold;
}
.footer-grid .info:nth-child(3) p {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--dark-color);
}
.footer-grid .info:nth-child(3) p:last-child {
  border-bottom: none;
}
.flickr-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: .2rem;
}
.flickr {
  background: var(--footer-dark);
  width: 100%;
  height: 3rem;
}
.footer-dark {
  position: relative;
  background: var(--dark-color);
}
.copy-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2rem 0;
  grid-gap: 1rem;
  justify-content: center;
}
.social {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 1rem;
}
.social i {
  background: var(--footer-dark);
}
.social i:hover,.arrow-up:hover{
  background: var(--light-dark);
  color: var(--footer-dark);
}
.arrow-up {
  position: absolute;
  content: '';
  top: -4rem;
  right: 1rem;
  background: var(--footer-dark);
  width: 3rem;
  height: 3rem;
  color: var(--light-dark);
  text-decoration: none;
}